.barra{
    background-color:beige;
    display: flex;
    justify-content: center;
}
.picture{
    width: 35px;
    height: 35px;
}
.onePage{
    display: flex;
    justify-content:space-evenly;
}
.flexform{
    display: flex;
    align-items: center;
}
.abc{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.barra2{
    display: flex;
    justify-content: center;
}